section.calendar {
  padding-top: 100px;
  min-height: 56.25vw;
  max-height: 700px;
}

.react-calendar {
  margin: 0px auto;
  width: 350px;
  padding: 5px;
}

.calendar_inner_container {
  background: url(../images/Fondo\ calendario.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  padding: 60px;
  height: 422px;
  position: relative;
}

.calendarList-container {
  background: url(../images/Fondo\ 1.png);
  background-repeat: no-repeat;
  background-size: 175px;
  background-position: 0px bottom;
  height: 500px;
  padding-top: 150px;
}

.calendar h1 {
  margin-bottom: 0px;
}
.calendar p {
  margin-bottom: 15px;
  /* font-weight: bold; */
}

.calendar_subtitle {
  margin-bottom: 10px;
  font-size: 20px;
}

.calendarList_inner_container {
  max-width: 450px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  background: white;
}

.calendarList td {
  border: none !important;
  padding: 0px 10px;
  padding-top: 7.5px;
  height: 30px !important;
}

.calendarList tr {
  line-height: 20px;
  min-height: 40px;
}

.calendarList .eventElement .index,
.calendarList .eventElement .none {
  width: 50px;
  text-align: right;
  vertical-align: bottom;
  position: relative;
}

.calendarList .eventElement .index .offtop,
.calendarList .eventElement .none .offtop {
  position: absolute;
  bottom: -10px;
  right: 10px;
  background: #f87f06;
  color: white;
  font-weight: bold;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  font-size: 12px;
  line-height: 30px;
}

.calendarList .eventElement-meta td.none {
  padding-left: 40px;
}

.calendarList .eventElement-meta .location,
.calendarList .eventElement-meta .date,
.calendarList .eventElement-meta .actions {
  text-align: left;
  font-size: 13px;
  vertical-align: top;
  padding-top: 0px;
}

.calendarList .eventElement .title {
  font-weight: bold;
}

.react-calendar__tile {
  background: #d3d4d6;
  border: 4px solid white !important;
  font-weight: bolder;
  color: white;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #bebebe;
}

.react-calendar__tile--now {
  background-color: #4d002a !important;
}

.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar__navigation__arrow {
  color: #50b3ff;
  font-weight: bolder;
  font-size: 30px;
}

.react-calendar__navigation__arrow:hover {
  background: none;
}

.react-calendar__navigation__arrow {
  min-width: 30px !important;
  width: 30px !important;
}
.react-calendar__navigation__label {
  min-width: 155px !important;
}
.react-calendar__navigation {
  height: 60px;
  justify-content: center;
}

.react-calendar__navigation__label__labelText {
  color: #f87f06;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%, 3px);
  line-height: 20px;
  width: 120px;
}

.react-calendar__tile:hover,
.react-calendar__navigation button:hover {
  background-color: #c6e4ffa2 !important;
}

.react-calendar__tile.react-calendar__tile--now:hover {
  background-color: #2387e4 !important;
}

.react-calendar__tile.react-calendar__tile--active[hasEvent='true'],
.react-calendar__tile.react-calendar__tile--active {
  background-color: #f87f06 !important;
}
.calendar_inner_container .spring {
  height: 25px;
  width: 10px;
  background: #d3d4d6;
  position: absolute;
  left: 50%;
  top: 42.5px;
  border-radius: 10px 10px 0px 0px;
}

.calendar_inner_container .spring:after {
  content: '';
  width: 14px;
  height: 10px;
  background: #d3d4d6;
  bottom: -5px;
  left: -2px;
  position: absolute;
  border-radius: 100%;
  /* transform: translate(-1.75px, 0px); */
}

.calendar_inner_container .spring1 {
  transform: translateX(-120px);
}
.calendar_inner_container .spring2 {
  transform: translateX(-80px);
}
.calendar_inner_container .spring3 {
  transform: translateX(-40px);
}
.calendar_inner_container .spring4 {
  transform: translateX(0px);
}
.calendar_inner_container .spring5 {
  transform: translateX(40px);
}
.calendar_inner_container .spring6 {
  transform: translateX(80px);
}
.calendar_inner_container .spring7 {
  transform: translateX(120px);
}

.react-calendar__century-view .react-calendar__tile abbr,
.react-calendar__decade-view .react-calendar__tile abbr,
.react-calendar__year-view .react-calendar__tile abbr {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 3px black;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile {
  position: relative;
  background-repeat: no-repeat !important;
  background-color: transparent;
  display: inline-block !important;
  padding: 0px;
  padding-bottom: 50px;
  height: 90px;
  /* background: rgba(0, 0, 0, 0.3); */
  /* background: url(../images/logowtf.png);
  background-position: center 15px;
  background-size: 70%;
  background-repeat: no-repeat; */
  background: rgb(202, 202, 202);
}

.react-calendar__year-view .react-calendar__tile:hover,
.react-calendar__century-view .react-calendar__tile:hover,
.react-calendar__decade-view .react-calendar__tile:hover {
  /* background: black !important; */
  background-position: center 15px;
}
.react-calendar__year-view .react-calendar__tile.react-calendar__tile--now,
.react-calendar__year-view .react-calendar__tile.react-calendar__tile--now:hover {
  background: url(../images/logowtf.png);
  background-position: center 15px;
  background-size: 70%;
  background-repeat: no-repeat;
}
.react-calendar__year-view .react-calendar__tile:hover abbr,
.react-calendar__century-view .react-calendar__tile:hover abbr,
.react-calendar__decade-view .react-calendar__tile:hover abbr {
  /* background: black !important; */

  background: white;
  color: black;
  text-shadow: none;
}

.react-calendar__year-view .react-calendar__tile--now abbr {
  color: white !important;
  text-shadow: 0px 0px 1px black !important;
  font-weight: bolder !important;
  background: rgba(0, 0, 0, 0) !important;
}

.react-calendar__tile--now abbr {
  color: white !important;
  text-shadow: none !important;
  font-weight: bolder !important;
  background: none !important;
}

button[has-event='true'] {
  padding: 0px;
}
button[has-event='true'] abbr {
  color: black;
}

button[has-event='true']:hover,
button[has-event='true'] {
  color: black;
  font-weight: bolder;
  background-image: url(../images/logowtf_white.png) !important;

  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.react-calendar__navigation__arrow[disabled] {
  opacity: 0;
}

button.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
  cursor: auto !important;
}

button.react-calendar__navigation__label[disabled],
button.react-calendar__navigation__label[disabled]:hover {
  background: none !important;
}

[color='orange'] {
  color: #f87f06;
}
.react-calendar__navigation__label {
  position: relative;
  min-width: 240px !important;
}
.react-calendar__navigation__label:after {
  content: '⤴';
  position: absolute;
  left: 10px;
  transform: scaleX(-1);
  font-size: 45px;
  top: 27.5px;
  color: #d3d4d6;
}

.react-calendar__navigation__label:disabled:after {
  content: '';
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

button.react-calendar__navigation__arrow {
  color: #9b043b !important;
  font-weight: bolder;
}

.calendarList_inner_container p {
  background: #f87f06;
  color: white;
  font-weight: bold;
}
