.react-calendar {
  margin: 0px auto;
}

.calendar h1 {
  margin: 30px;
}

.calendarList {
  margin: 0px auto;
  max-width: 450px;
}

.calendarList td {
  border: none !important;
  padding: 0px 10px;
  padding-top: 5px;
  height: 30px !important;
}

.calendarList tr {
  line-height: 20px;
  min-height: 40px;
}

.calendarList .eventElement .index,
.calendarList .eventElement .none {
  width: 50px;
  text-align: right;
  vertical-align: bottom;
  position: relative;
}

.calendarList .eventElement .index .offtop,
.calendarList .eventElement .none .offtop {
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.calendarList .eventElement-meta td.none {
  padding-left: 40px;
}

.calendarList .eventElement-meta .location,
.calendarList .eventElement-meta .date,
.calendarList .eventElement-meta .actions {
  text-align: left;
}
