footer {
  background: #4d002a;
  color: white;
  width: 100vw;
}

.footer-logo {
  /* width: 100%; */
  max-width: 250px;
  max-height: 160px;
}

footer .col-md-4 {
  padding: 30px 15px;
}

footer .rrss i {
  font-size: 30px;
  margin: 10px 12px;
  color: white;
}

footer .menu {
  display: block !important;
  position: relative;
  margin-top: 25%;
  transform: translateY(-50%);
}
footer .menu li {
  list-style: none;
  text-align: left;
}

footer .menu .donate,
footer .menu a {
  color: white;
  font-size: 16px;
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  cursor: pointer;
  font-weight: normal;
}
