section.eventTop {
  position: relative;
  height: 56.25vw;
  max-height: 700px;
  overflow: hidden;
}

section.eventTop > .container {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-image: url('../images/hotline.png');
  background-size: contain;
  height: 100%;
  position: relative;
  max-width: 1500px;
  overflow: hidden;
}

.title-container {
  position: absolute;
  top: 420px;
  left: 0px;
  width: calc(100% + 15px);
  min-height: 150px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.65);
}

.title-container .eventTop-title,
.title-container .eventTop-meta {
  position: relative;
  color: white;
  font-size: 18px;
  margin-bottom: 0px;
}
.title-container .eventTop-title {
  font-size: 29px;
}

.title-container .eventTop-meta {
  font-size: 13px;
}

.title-container .container {
  padding-bottom: 15px;
  padding-left: 30px;
}

.slogan {
  color: white;
  position: absolute;
  top: 610px;
  margin-left: 12%;
  font-size: 50px;
  width: auto !important;
}

.eventTop .open_popup {
  color: white;
}

.eventTop-span {
  /* width: calc(100% - 125px); */
  display: inline-block;
}

.eventTop-thumbnail-container {
  display: none !important;
  margin-top: 10px;
  max-width: 15%;
  width: 125px;
  max-height: 70px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.eventTop-thumbnail {
  max-width: 100%;
  max-height: 70px;
}

.eventTop-zoom {
  display: none;
}

.eventTop-thumbnail-container:hover .eventTop-zoom {
  position: absolute;
  bottom: 83px;
  right: 0px;
  display: block;
}
