@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/helveticaneue/HelveticaNeue.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: SensationAndQualities;
  src: url(../fonts/sensations-and-qualities/Sensations\ and\ Qualities.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

a:hover {
  text-decoration: none;
}

* {
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
.menu li {
  font-family: Lato;
}

/* h1 { */
/* font-weight: bold; */
/* } */

.slogan {
  font-family: SensationAndQualities;
}

section {
  width: 100vw;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #fef1e8;
}

footer .menu a {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  cursor: pointer;
}

.open_popup {
  margin: 0px;
  padding: 0px;
}

.open_popup:hover,
a:hover,
.donate:hover {
  opacity: 0.5;
}

.col-md-4 > a:hover {
  opacity: 1;
}

.page-content {
  margin-top: 100px;
}

.page-content .container {
  background: white;
  padding: 15px 20px;
  text-align: justify;
}

.privacyCheck {
  width: 340px;
  margin: 0px auto;
  position: fixed;
  z-index: 100000000000000000;
  bottom: 2px;
  right: 0px;
  background: #421e5f;
  padding: 10px;
  border: 3px solid black;
  color: white;
  text-align: center;
}

.button-privacy {
  /* border: none !important; */
  padding: 2px 5px;
  color: white;
  margin: 0px 5px;
  cursor: pointer;
  /* border: 1px solid #f87f06 !important; */
}
.button-privacy:hover {
  opacity: 1 !important;
  color: white !important;
}

.button-privacy.not {
  background: #9e0339;
}
.button-privacy.yes {
  background: #2558a4;
}

@media only screen and (max-width: 1200px) {
  #hotline .title-container {
    top: 360px;
  }

  #hotline .slogan {
    top: 545px;
    width: auto !important;
  }
  .main-header.static .logo {
    width: 380px;
  }
}

@media only screen and (max-width: 1050px) {
  .main-header.static .logo {
    margin-top: 10px;
    width: 320px;
  }
  #hotline .title-container {
    top: 300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #hotline .title-container .eventTop-title {
    font-size: 24px;
  }

  #hotline .slogan {
    top: 490px;
  }
  .list_inner_container {
    margin-left: 0px;
    margin-right: 30px !important;
  }
}

@media only screen and (max-width: 998px) {
  #hotline {
    min-height: 69.4vw;
  }
  .main-header.static .logo {
    margin-top: 10px;
    width: 300px;
  }
  #hotline .title-container {
    top: 275px;
  }
  #hotline .title-container .container {
    padding-bottom: 10px;
  }

  #hotline .title-container .eventTop-title {
    font-size: 22px;
  }
  #hotline .title-container .eventTop-meta {
    font-size: 12px;
  }

  #hotline .slogan {
    top: 480px;
    margin-left: 10%;
    font-size: 36px;
    width: auto !important;
  }
  .main-header.sticky .donateLink {
    margin: 0px !important;
  }
  .main-header.sticky .homeLink {
    display: none !important;
  }
  .main-header.sticky .search_bar {
    width: calc(100% - 235px);
    transform: none !important;
    left: 0px;
    float: left;
    margin-top: 15px;
  }
  .main-header.sticky .search_bar,
  .main-header.sticky .menu {
    vertical-align: middle;
  }
  .main-header.sticky .menu ul {
    padding: 0px;
    /* margin-right: 30px; */
  }

  .main-header.sticky .search_bar .search_event {
    width: calc(100% - 85px);
  }
  .main-header.sticky .rrss {
    margin-left: 0px;
    vertical-align: middle;
    margin-top: 7.5px;
    float: left;
    margin-right: 7.5px;
  }
  .main-header.sticky .logo {
    display: none;
  }
  .main-header.sticky .container {
    max-width: none !important;
  }
  .calendar h1,
  .list h1 {
    font-size: 28px;
  }

  footer .roisdigital .footer-logo {
    max-height: 100px !important;
  }
  footer .wtf2020logo .footer-logo {
    max-height: 140px !important;
  }
  footer .rrss i {
    margin: 6px 8px !important;
  }
  .recomendations-box {
  }
}

@media only screen and (max-width: 768px) {
  .main-header.static .logo {
    min-width: auto;
    width: 240px !important;
    max-width: none !important;
    min-width: none !important;
    margin: 0px auto;
    transform: translate(-15%, 50px);
    /* margin-top: 75px; */
    display: block;
  }
  .main-header.static .search_bar {
    width: calc(100% - 90px) !important;
    display: block;
    margin: 0px auto;
  }
  .main-header.static .search_event {
    width: calc(100% - 50px);
  }

  #hotline {
    min-height: 510px;
    max-height: none;
    position: relative;
    height: 98.5vh;
  }
  #hotline:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 650px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url('../images/Fondo\ calendario\ hd.png');
    background-size: contain;
    background-position: 20% 33%;
    top: 0%;
    left: 0%;
    z-index: -1;
    /* transform: rotate(90deg); */
  }
  #hotline > .container {
    background: none;
  }

  #hotline .slogan {
    top: 250px;
    left: 50%;
    transform: translate(-60%, 0px);
    font-size: 40px;
    position: absolute;
    width: 100%;
    margin-left: 0px;
    text-shadow: 1px 1px 10px black;
  }

  #hotline .title-container {
    top: 310px;
    padding: 5px;
    /* min-height: 150px; */
  }
  #hotline .title-container .eventTop-title {
    font-size: 20px;
  }
  #hotline .title-container .eventTop-meta {
    font-size: 12px;
  }
  .main-header.static .rrss {
    margin-right: 15px;
  }
  .main-header.static .rrss i {
    font-size: 30px;
  }
  #calendarList {
    height: auto;
    max-height: none;
    padding-bottom: 30px;
  }
  .calendarList-container {
    padding: 20px !important;
    padding-top: 60px !important;
    height: auto !important;
  }

  .calendarList_inner_container {
    position: relative;
    padding-bottom: 20px !important;
  }

  .backButton {
    display: block !important;
    width: 50px;
    margin-left: 15px;
    margin-top: 20px;
  }

  .backButton .back-label {
    font-size: 14px;
    color: #2387e4;
    cursor: pointer;
    display: inline-block;
  }
  .backButton .back-icon {
    font-size: 25px;
    color: #2387e4;
    cursor: pointer;
    display: inline-block;
    margin-top: -10px;
  }
  .calendar_inner_container {
    padding-top: 20px !important;
  }
  .calendar_inner_container .spring {
    top: 2.5px !important;
  }
  footer .menu {
    margin-top: 0px !important;
  }

  footer .menu li {
    text-align: center !important;
  }
  .footer-logo {
    max-height: 100px !important;
  }

  h1 {
    padding: 0px 5px;
  }
  footer .wtf2020logo {
    padding-top: 0px !important;
  }
  .popup_container {
    height: 70vh !important;
    top: 15vh !important;
  }

  .popup_container .single_news {
    margin: 10px auto;
  }
  .month_tags {
    width: 35px !important;
    right: -35px !important;
  }
  .monthTag {
    line-height: 20px !important;
    padding-left: 10px !important;
    width: 35px !important;
    font-size: 18px !important;
  }
  .eventTop-thumbnail-container {
    display: none !important;
  }
  .eventTop-span {
    width: 100% !important;
  }

  .up-arrow {
    display: inline !important;
  }
  .left-arrow {
    display: none !important;
  }
  td.location {
    min-width: 80px;
    width: 80px;
    max-width: 80px;
  }
}

@media only screen and (max-width: 500px) {
  #hotline .slogan {
    transform: translate(-60%, 0px);
    font-size: 30px;
  }
  .main-header.static .logo {
    min-width: auto;
    width: 220px !important;
    max-width: none !important;
    min-width: none !important;
    margin: 0px auto;
    transform: translate(-15%, 65px);
    /* margin-top: 75px; */
    display: block;
  }

  .main-header.sticky .rrss {
    display: none;
  }
  .main-header.sticky .search_bar {
    width: calc(100% - 100px);
  }
  .main-header.sticky .search_event {
    font-size: 14px;
    height: 30px;
  }
  .react-calendar__navigation .react-calendar__navigation__label button {
    width: calc(100% - 10px) !important;
    min-width: unset !important;
    max-width: unset !important;
    display: inline-block !important;
  }
  .react-calendar__navigation__label__labelText {
    width: calc(100% - 80px);
  }
  .react-calendar {
    width: 280px !important;
    max-width: none !important;
  }
  .calendar_inner_container {
    padding: 20px !important;
  }
  .calendar_inner_container .spring {
    top: 2.5px !important;
  }
}

@media only screen and (max-width: 380px) {
  #hotline .slogan {
    transform: translate(-60%, 0px);
    width: fit-content !important;
    max-width: none !important;
  }
  .calendar h1,
  .list h1 {
    font-size: 25px;
  }
}
