@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/helveticaneue/HelveticaNeue.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: SensationAndQualities;
  src: url(../fonts/sensations-and-qualities/Sensations\ and\ Qualities.ttf);
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

a:hover {
  text-decoration: none;
}

* {
  font-family: Montserrat;
}

h1,
h2,
h3,
h4,
h5,
.menu li {
  font-family: HelveticaNeue;
}

h1 {
  font-weight: bold;
}

.slogan {
  font-family: SensationAndQualities;
}

section {
  width: 100vw;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #fef1e8;
}

.open_popup,
footer .menu a {
  text-decoration: underline !important;
  text-decoration-style: dashed !important;
  cursor: pointer;
}

.open_popup {
  margin: 0px;
  padding: 0px;
}

.open_popup:hover,
a:hover,
.donate:hover {
  opacity: 0.5;
}

.col-md-4 > a:hover {
  opacity: 1;
}

.page-content {
  margin-top: 100px;
}

.page-content .container {
  background: white;
  padding: 15px 20px;
  text-align: justify;
}
