section.list {
  padding-top: 20px;
  background-image: url(../images/Fondo\ 1.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 150px;
  position: relative;
  min-height: 56.25vw;
}

section.list:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-image: url(../images/Fondo\ 1.png);
  background-position: 30px 225px;
  background-repeat: no-repeat;
}

section.list:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-image: url(../images/Fondo\ 1.png);
  background-position: right 110%;
  background-repeat: no-repeat;
}

.list h1 {
  margin-bottom: 0px;
}
.list p {
  margin-bottom: 30px;
}

.eventsList td {
  border: none !important;
  padding: 10px 7.5px;
  height: 30px !important;
}

.eventsList tr {
  line-height: 25px;
  min-height: 40px;
}

.eventsList .eventElement .thumb,
.eventsList .eventElement .none {
  max-width: 60px !important;
  max-height: 45px !important;
  width: 60px;
  text-align: right;
  vertical-align: middle;
  position: relative;
  padding-right: 0px;
}

.calendarList .eventElement .thumb {
  text-align: center;
}

.eventsList .eventElement .thumb .featuredImage-thumb,
.eventsList .eventElement .none .featuredImage-thumb {
  width: 100%;
  max-width: 60px !important;
  max-height: 45px !important;
  height: auto;
  cursor: pointer;
}
.eventsList .eventElement .thumb .featuredImage-zoom {
  display: block;
  position: absolute;
  z-index: 10000;
  top: 0px;
  left: 82px;
  transform: translateY(-25%);
  cursor: pointer;
}

.eventsList .eventElement .thumb:hover a:hover {
  opacity: 1 !important;
}

.eventsList .eventElement-meta td.none {
  padding-left: 40px;
}

.eventsList .eventElement-meta .location,
.eventsList .eventElement-meta .date,
.eventsList .eventElement-meta .actions {
  text-align: left;
  font-size: 13px;
  vertical-align: top;
  padding-top: 0px;
}

.eventsList .eventElement .open-popup-title,
.calendarList .eventElement .open-popup-title {
  font-family: Lato;
  font-size: 17px;
  width: 270px;
  cursor: pointer;
}

.list_inner_container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  background: white;
  max-width: 950px;
  margin: 0px auto;
}

.list > .container {
  position: relative;
}

.month_tags {
  position: absolute;
  right: -60px;
  width: 60px;
  top: 20px;
}

.monthTag {
  text-align: left;
  color: white;
  line-height: 70px;
  font-size: 22px;
  position: absolute;
  width: 70px;
  z-index: -1;
  /* border-radius: 30px 5px 5px 30px; */
  border-radius: 5px 30px 30px 5px;
  /* writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
  /* transform: rotate(180deg); */
  transform: rotate(0deg);
}

.monthTag-span {
  position: absolute;
  top: 10px;
  /* position: fixed;
  top: 60px; */
  z-index: 100000;
}

.down .monthTag.odd-tag {
  background: #2558a4;
}
.down .monthTag.even-tag {
  background: #9e0339;
}
.up .monthTag.odd-tag {
  background: #9e0339;
}
.up .monthTag.even-tag {
  background: #2558a4;
}

.open_popup {
  background: #f87f06;
  border: none !important;
  padding: 2px 5px;
  color: white;
}

.actions_container {
  display: flex;
}

.open_popup:active,
.open_popup:focus {
  border: none !important;
}

.medium-tag-size {
  line-height: 25px;
  padding-left: 10px;
}

.small-tag-size {
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}
.smallest-tag-size {
  font-size: 11px;
  writing-mode: unset;
  line-height: 23px;
}

.eventsList tbody {
  min-width: 100%;
}

td.date {
  min-width: 82px;
  padding-right: 0px;
  padding-left: 5px;
}

.mindblow_emoji {
  width: 40px;
}

.eventsList b.index {
  font-weight: bolder;
  color: white;
  background-color: #f87f06;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
  font-size: 13px;
  vertical-align: top;
}

.sorting .down,
.sorting .up {
  font-size: 30px;
  margin: 0px 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sorting {
  position: relative;
}

.sort-label {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(calc(-50% - 60px), 3px);
}

.checkWTF {
  margin-bottom: 80px !important;
}

.list .thumb .zoom-icon {
  font-size: 18px;
  position: absolute;
  z-index: 1000;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  opacity: 0.8;
  text-shadow: 0px 0px 5px black;
  cursor: pointer;
}

.list .goToHome-button {
  display: none;
  position: fixed;
  bottom: 150px;
  right: 10px;
  border-radius: 100%;
  background: #f87f06;
  color: white;
  padding: 5px;
  width: 35px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.list .previousMonth-button {
  display: none;
  position: fixed;
  bottom: 115px;
  right: 15px;
  border-radius: 100%;
  background: #f87f06;
  color: white;
  padding: 0px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.list .nexMonth-button {
  display: none;
  position: fixed;
  bottom: 72.5px;
  right: 15px;
  border-radius: 100%;
  background: #f87f06;
  color: white;
  padding: 0px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.list .goToFooter-button {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  border-radius: 100%;
  background: #f87f06;
  color: white;
  padding: 5px;
  width: 35px;
  height: 35px;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.goToHome-button.display,
.goToFooter-button.display,
.previousMonth-button.display,
.nexMonth-button.display {
  display: block !important;
}
