section.list {
  padding-top: 100px;
  background-image: url(../images/Fondo\ 1.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 150px;
  position: relative;
  min-height: 56.25vw;
}

section.list:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-image: url(../images/Fondo\ 1.png);
  background-position: 30px 225px;
  background-repeat: no-repeat;
}

section.list:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  background-image: url(../images/Fondo\ 1.png);
  background-position: right 110%;
  background-repeat: no-repeat;
}

.list h1 {
  margin-bottom: 0px;
}
.list p {
  margin-bottom: 30px;
}

.eventsList td {
  border: none !important;
  padding: 10px 7.5px;
  height: 30px !important;
}

.eventsList tr {
  line-height: 25px;
  min-height: 40px;
}

.eventsList .eventElement .thumb,
.eventsList .eventElement .none {
  max-width: 60px !important;
  max-height: 45px !important;
  width: 60px;
  text-align: right;
  vertical-align: middle;
  position: relative;
  padding-right: 0px;
}

.eventsList .eventElement .thumb .featuredImage-thumb,
.eventsList .eventElement .none .featuredImage-thumb {
  width: 100%;
  max-width: 60px !important;
  max-height: 45px !important;
  height: auto;
}
.eventsList .eventElement .thumb .featuredImage-zoom {
  display: none;
}

.eventsList .eventElement .thumb:hover .featuredImage-zoom {
  display: block;
  position: absolute;
  z-index: 10000;
  top: 0px;
  left: 59px;
  transform: translateY(-50%);
}
.eventsList .eventElement .thumb:hover .featuredImage-thumb {
  opacity: 0.5;
}

.eventsList .eventElement .thumb:hover a:hover {
  opacity: 1 !important;
}

.eventsList .eventElement-meta td.none {
  padding-left: 40px;
}

.eventsList .eventElement-meta .location,
.eventsList .eventElement-meta .date,
.eventsList .eventElement-meta .actions {
  text-align: left;
  font-size: 13px;
  vertical-align: top;
  padding-top: 0px;
}

.eventsList .eventElement .title,
.calendarList .eventElement .title {
  font-family: Lato;
  font-size: 17px;
  width: 270px;
}

.list_inner_container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.75);
  background: white;
  max-width: 950px;
  margin: 0px auto;
}

.list > .container {
  position: relative;
}

.month_tags {
  position: absolute;
  right: -60px;
  width: 60px;
  top: 20px;
}

.monthTag {
  text-align: center;
  color: white;
  line-height: 70px;
  font-size: 22px;
  position: absolute;
  width: 70px;
  z-index: -1;
  /* border-radius: 30px 5px 5px 30px; */
  border-radius: 5px 30px 30px 5px;
  /* writing-mode: vertical-rl; */
  writing-mode: vertical-lr;
  /* transform: rotate(180deg); */
  transform: rotate(0deg);
}

.monthTag.odd-tag {
  background: #2558a4;
}
.monthTag.even-tag {
  background: #9e0339;
}

.open_popup {
  background: #f87f06;
  border: none !important;
  padding: 2px 5px;
  color: white;
}

.actions_container {
  display: flex;
}

.open_popup:active,
.open_popup:focus {
  border: none !important;
}

.medium-tag-size {
  line-height: 25px;
  padding-left: 10px;
}

.small-tag-size {
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}
.smallest-tag-size {
  font-size: 11px;
  writing-mode: unset;
  line-height: 23px;
}

.eventsList tbody {
  min-width: 100%;
}

td.date {
  min-width: 95px;
}
td.location {
  min-width: 90px;
}

.mindblow_emoji {
  width: 40px;
}

.eventsList b.index {
  font-weight: bolder;
  color: white;
  background-color: #f87f06;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
  font-size: 14px;
  vertical-align: top;
}
